header {
    background: url('../img/cooking.jpg');
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.me-header {
    /* padding-top: 10rem; */
}

.me-header-title {
    display: flex;
    align-items: center;
    justify-self: center;
}

@media screen and (max-width: 600px) {
    header {
        height: 60 rem;
    }
}
