header {
    background: linear-gradient(45deg, rgb(238, 170, 238), rgb(123, 222, 230));
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.me-header {
    /* padding-top: 10rem; */
}

.me-header-title {
    display: flex;
    alight-items: center;
    justify-self: center;
}

@media screen and (max-width: 600px) {
    header {
        height: 60 rem;
    }
}
