.me-interesting {
    background-color: rgb(163, 56, 56);
}

.me-interesting-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.me-svg-icon {
    width: 2rem;
    height: 2rem;
    fill: rgb(0, 0, 0);
}